@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: aliceblue;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}

::selection{
  background-color: #f2ba02a1;
  color: black;
}